<br>
<h2>Profil</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item">Felhasználónév: <b>{{ username }}</b></li>
    <li class="list-group-item">Email: <b>{{ email }}</b></li>
</ul>
<div>&nbsp;</div>
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <a href='https://photos.google.com/share/AF1QipMT-eOZ7OUx6cn1E4Wr-0RMh34Hh9O578twFAQ0Ljh9zFbXOBiblnKnIfFfixjNLA?key=MzZHaEdLeDhNR2FkTnRjYUxBMnFXRVkxVUxYSG5n&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/8rsznf4mDIy9ACKf6P2yjcrx5aFN4PWml0oc8DrP1CJPb1-uj_FARoy63_EIEoG1YSiXVdCZUeRuiAe2ceM7QTAD2cJndt0rVdMRrMZ5p_ToqBhzUasxwixinsofI_S1S6JQ1u1xcQ=w2400' /></a>
        </ul>
    </div>   
    <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Személyi adatok</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Szakmai tapasztalatok</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Tanulmányok</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Nyelvismeret</a>
            <a class="list-group-item list-group-item-action" id="list-hobbys-list" data-toggle="list" href="#list-hobbys" role="tab" aria-controls="hobbys">Hobbik</a>
          </div>
        </div>
        <div class="col-4">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Név: </strong>Hajkó Balázs</li>
                    <li class="list-group-item"><strong>Lakhely: </strong>Budapest</li>
                    <li class="list-group-item"><strong>Email: </strong>bhajko@gmail.com</li>
                    <li class="list-group-item">
                        <strong>Linkedin: </strong><a href="www.linkedin.com/in/balazs-hajko">Profil</a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <ul class="list-group">
                    <li class="list-group-item">2015-2018&nbsp;&nbsp;&nbsp;<strong>Aurora Világítástechnika Kft</strong><br>Projektmenedzser</li>
                    <li class="list-group-item">2012-2015&nbsp;&nbsp;&nbsp;<strong>Aurora Világítástechnika Kft</strong><br>Ügyfélkapcsolati referens</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <ul class="list-group">
                    <li class="list-group-item">2006-2009.<br><strong>Budapesti Metropolitan Egyetem</strong><br>Kommunikáció és médiatudomány</li>
                    <li class="list-group-item">2001-2006.<br><strong>Xántus János Középiskola</strong><br>Idegenforgalom</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Angol</strong> - Felsőfok</li>
                    <li class="list-group-item"><strong>Holland</strong> - Középfok</li>
                    <li class="list-group-item"><strong>Német</strong> - Középfok</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="list-hobbys" role="tabpanel" aria-labelledby="list-hobbys-list">
                <ul class="list-group">
                    <li class="list-group-item">Poker</li>
                    <li class="list-group-item">Sport</li>
                    <li class="list-group-item">Utazás</li>
                </ul>
            </div>
          </div>
        </div>       
</div>
  
