<br>
<h2>Kapcsolat</h2>
<hr>

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Küldjön üzenetet</h5>
            <form>
                <label for="name">Név</label>
                <input type="text" name="name" class="form-control">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control">
                <label for="message">Üzenet</label>
                <textarea name="message" class="form-control" cols="30" rows="8"></textarea>
            </form>
            <div>&nbsp;</div>
            <a href="#" class="btn btn-success">Küldés</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="530" height="516" id="gmap_canvas" src="https://maps.google.com/maps?q=budapest lövölde tér&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <a href="https://www.webdesign-muenchen-pb.de"></a>
            <style>.mapouter{overflow:hidden;height:516px;width:530px;}.gmap_canvas {background:none!important;height:516px;width:530px;}</style>
        </div>
    </div>
</div>
