<br>
<h2>Hírek</h2>
<hr>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="http://files.pokerakademia.com/files/1044/1044509.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Végigfreerollozni a Powerfestet?</h5>
        <p class="card-text">Powerfest Leaderboardok, Deposit Prize Draw és Double Cashback promók összesen $170.000 értékben.</p>
      </div>
      <div class="card-footer">
        <a href="http://www.pokerakademia.com/hirek/online_poker_versenyek/vegigfreerollozni_a_powerfestet_promociok_a_majusi_online_bajnoksagra/" class="btn btn-success">Tovább a cikkre</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.pokerakademia.com/uploads/9%C3%B6596757469%C3%B67594%C3%B67%C3%B6.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Probirs nagy kasszát nyert omaha4rollz ellen csütörtökön</h5>
        <p class="card-text">Probirs $25.868 profittal a játéknap 7. legnagyobb nyerőjeként zárt.</p>
      </div>
      <div class="card-footer">
        <a href="http://www.pokerakademia.com/hirek/nemzetkozi_poker_hirek/probirs_nagy_kasszat_nyert_omaha4rollz_ellen_csutortokon/" class="btn btn-success">Tovább a cikkre</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.pokerakademia.com/uploads/324892639634629.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Már 45 biztos induló a Super High Roller Bowlon</h5>
        <p class="card-text">A soroslás útján bekerült 30 játékos után nyilvánosságra hozták a 15 meghívott VIP játékos névsorát is. Többségében profikat hívtak meg, például Fedor Holz és Doug Polk került be.</p>
      </div>
      <div class="card-footer">
        <a href="http://www.pokerakademia.com/hirek/nemzetkozi_poker_versenyek/mar_45_biztos_indulo_a_super_high_roller_bowlon_holz_is_bekerult/" class="btn btn-success">Tovább a cikkre</a>
      </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="http://www.pokerakademia.com/uploads/1297357825178178538121.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hiszek abban, hogy a blockchain-technológia megváltoztatja a világot</h5>
        <p class="card-text">Tony G is szerepet vállalt a kriptovalutára építő pókerteremben, a CoinPokerben.</p>
      </div>
      <div class="card-footer">
        <a href="http://www.pokerakademia.com/hirek/interjuk/hiszek_abban_hogy_a_blockchain_technologia_megvaltoztatja_a_vilagot_tony_g_interju/" class="btn btn-success">Tovább a cikkre</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.pokerakademia.com/uploads/skynews-wolves-championship_4288502.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">A Stars Group megvásárolja az angol foci liga egyik főszponzorát</h5>
        <p class="card-text">A Stars Group és az Sky Betting & Gaming közötti tárgyalások már hetek óta folynak, körülbelül 2,6 milliárd font értékű üzletről van szó.</p>
      </div>
      <div class="card-footer">
        <a href="http://www.pokerakademia.com/hirek/nemzetkozi_poker_hirek/a_stars_group_megvasarolja_az_angol_foci_liga_egyik_foszponzorat/" class="btn btn-success">Tovább a cikkre</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://www.pokerakademia.com/uploads/72385478258752387.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Április 24-én indul az EPT Monte-Carlo</h5>
        <p class="card-text">Az EPT korábbi Grand Final állomása május 4-ig tart, összesen 39 eventet rendeznek.</p>
      </div>
      <div class="card-footer">
        <a href="http://www.pokerakademia.com/hirek/nemzetkozi_poker_versenyek/aprilis_24_en_indul_az_ept_monte_carlo/" class="btn btn-success">Tovább a cikkre</a>
      </div>
    </div>
</div>