<br>
<h2>Tudásbázis</h2>
<hr>

<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">MongoDB</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Mongoose</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Bcrypt</a>
        <a class="list-group-item list-group-item-action" id="list-jwt-list" data-toggle="list" href="#list-jwt" role="tab" aria-controls="jwt">JWT - JSON Web Token</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Helmet</a>
        <a class="list-group-item list-group-item-action" id="list-morgan-list" data-toggle="list" href="#list-morgan" role="tab" aria-controls="morgan">Morgan</a>
        <a class="list-group-item list-group-item-action" id="list-airbnb-list" data-toggle="list" href="#list-airbnb" role="tab" aria-controls="airbnb">Airbnb ESlint szabálykészlet</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">A MongoDB egy nyílt forráskódú dokumentumorientált adatbázis szoftver, amelyet a 10gen fejleszt. A NoSQL adatbázisszerverek közé tartozik. A dokumentumokat JSON-szerű formátumban tárolja</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">A Mongoose egy kereszt-platformos beágyazott webszerver és hálózati könyvtár. A szoftver kis mérete lehetővé teszi, hogy bármely internet-csatlakoztatott eszköz webszerverként működjön.</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">A bcrypt egy jelszó-hasítási funkció , amelyet a Blowfish titkosítás alapján készült és a USENIX-ben 1999-ben mutatott be. A hasítás vagy hashing nem ugyanaz, mint a titkosítás. A titkosítás visszafordítható, vagyis a titkosított adatból az algoritmus ismeretében könnyen visszanyerhető az eredeti jelszó. A hashing vagyis hasítás ezzel szemben egyirányú eljárás, ahol a jelszót nem, csupán a jelszó alapján készült lenyomatot tárolják.</div>
        <div class="tab-pane fade" id="list-jwt" role="tabpanel" aria-labelledby="list-jwt-list">A JSON Web Token egy JSON alapú nyílt szabvány, olyan hozzáférési tokenek létrehozásához, amelyek bizonyos számú igényt támasztanak. Például egy kiszolgáló létrehozhat egy olyan tokenet, amelynek "bejelentkezett adminisztrátorként" van a kérelme, és megadja azt egy ügyfélnek. Az ügyfél ezt követően felhasználhatja a tokenet annak igazolására, hogy adminisztrátorként van bejelentkezve. A tokeneket a kiszolgáló kulcsa írja alá, így az ügyfél és a kiszolgáló egyaránt ellenőrizheti, hogy a token jogszerű. A JWT-követelések általában a hitelesített felhasználók identitásának azonosítására használhatók az azonosító szolgáltató és a szolgáltató között.</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">A Helmet segítségével különféle HTTP-fejléceket állíthat be az Express alkalmazásokhoz.</div>
        <div class="tab-pane fade" id="list-morgan" role="tabpanel" aria-labelledby="list-morgan-list">A Morgan egy HTTP request logger middleware NodeJS-hez.</div>
        <div class="tab-pane fade" id="list-airbnb" role="tabpanel" aria-labelledby="list-airbnb-list">Az Airbnb nyílt forráskódú JavaScript szabálykészlete, amelyet az ESlint használatával lehet érvényesíteni. Ez a szabálykészlet magában foglalja a React szabályait és olyan széles körben használják, hogy az ESlint pluginnal alapértelmezetten használható.</div>
      </div>
    </div>
  </div>
