<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Poker blog</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Főoldal
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="profil" class="nav-link" href="#">Profil</a>
      </li>
      <li class="nav-item">
        <a routerLink="knowledge" class="nav-link" href="#">Tudásbázis</a>
      </li>
      <li class="nav-item">
        <a routerLink="restful" class="nav-link" href="#">RESTful API</a>
      </li>
      <li class="nav-item">
        <a routerLink="contact" class="nav-link" href="#">Kapcsolat</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="button-group">
        <button class="btn btn-danger my-2 my-sm-0" type="button" data-toggle="modal" data-target="#exampleModal">Regisztráció</button>
        <button class="btn btn-success my-2 my-sm-0" type="submit">Belépés</button>
      </div>
    </form>
  </div>
</nav>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Regisztráció</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="username">Felhasználónév</label>
            <div>
              <input type="text" name="username" class="form-control" placeholder="Felhasználónév" formControlName="username">
              <div class="alert alert-danger" *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">A mező kitöltése kötelező</div>
              <div class="alert alert-danger" *ngIf="form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength">
                A felhasználónév minimum 3, maximum 15 karakter hosszú.
              </div>
              <div class="alert alert-danger" *ngIf="form.controls.username.errors?.validateUsername && form.controls.username.dirty">A felhasználónév nem tartalmazhat speciális karaktereket.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <div>
              <input type="text" name="email" class="form-control" placeholder="Email" formControlName="email">
              <div class="alert alert-danger" *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">A mező kitöltése kötelező</div>
              <div class="alert alert-danger" *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) && form.controls.email.dirty">
                  Az email cím minimum 5, maximum 30 karakter hosszú.
              </div>
              <div class="alert alert-danger" *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Érvényes email címet kell megadnod.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Jelszó</label>
            <div>
              <input type="password" name="password" class="form-control" placeholder="Jelszó" formControlName="password">
              <div class="alert alert-danger" *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">A mező kitöltése kötelező</div>
              <div class="alert alert-danger" *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">
                  A jelszó minimum 8, maximum 30 karakter hosszú.
              </div>
              <div class="alert alert-danger" *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">A jelszónak tartalmaznia kell legalább egy kisbetűt, nagybetűt, speciális karaktert és számot.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm">Jelszó ismét</label>
            <div>
              <input type="password" name="confirm" class="form-control" placeholder="Jelszó ismét" formControlName="confirm">
              <div class="alert alert-danger" *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">A mező kitöltése kötelező</div>
              <div class="alert alert-danger" *ngIf="form.errors?.samePasswords && form.controls.confirm.dirty">A jelszavak nem egyeznek.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
        <button [disabled]="!form.valid" type="button" class="btn btn-success" (click)="onSubmit()">Küldés</button>
      </div>
    </div>
  </div>
</div>
