<br>
<h2>Blog</h2>
<hr>

<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogPost()">Új bejegyzés</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-primary" *ngIf="!newPost" (click)="reloadBlogs()">
  <span class="oi oi-reload"></span>Frissítés</button>
<div>&nbsp;</div>

<form [formGroup]="form" name="blogForm" *ngIf="newPost">
  <div class="form-group">
    <label for="title">Cím</label>
    <div>
      <input type="text" name="title" class="form-control" formControlName="title">
      <div class="alert alert-danger" *ngIf="form.controls.title.errors?.required && form.controls.title.dirty">A mező kitöltése kötelező</div>
      <div class="alert alert-danger" *ngIf="form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength">
        A cím minimum 5, maximum 50 karakter hosszú.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="body">Tartalom</label>
    <div>
      <textarea name="body" class="form-control" cols="30" rows="10" formControlName="body"></textarea>
      <div class="alert alert-danger" *ngIf="form.controls.body.errors?.required && form.controls.body.dirty">A mező kitöltése kötelező</div>
      <div class="alert alert-danger" *ngIf="form.controls.body.errors?.minlength || form.controls.body.errors?.maxlength">
        A tartalom minimum 5, maximum 1000 karakter hosszú.
      </div>
    </div>
  </div>

  <button type="button" name="button" class="btn btn-warning" (click)="goBack()">Vissza</button>
  <button [disabled]="!form.valid" type="button" name="button" class="btn btn-primary" (click)="onBlogSubmit()">Mentés</button>

</form>

<div *ngIf="!newPost">
  <div class="card" *ngFor="let blog of blogPosts">
    <h5 class="card-header bg-info">{{ blog.title }}</h5>
    <div class="card-body">
      {{ blog.body }}
    </div>
    <div class="card-footer">
      <p>
        <strong>Készítette: </strong>{{ blog.createdBy }}
        <strong> Dátum: </strong>{{ blog.Date | date:'yyyy. MMM. dd' }}</p>
      <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy">
        <button class="btn btn-secondary">Szerkesztés</button>
      </a>
      <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy">
        <button class="btn btn-danger">Törlés</button>
      </a>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-success" (click)="showComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Szólj hozzá</button>
        <div>&nbsp;</div>
        <div *ngIf="newComment.indexOf(blog._id) > -1">
          <form [formGroup]="commentForm">
            <textarea name="comment" class="form-control" cols="30" rows="5" formControlName="comment"></textarea>
            <div class="alert alert-danger" *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">A mező kitöltése kötelező</div>
            <div class="alert alert-danger" *ngIf="commentForm.controls.comment.errors?.minlength || commentForm.controls.comment.errors?.maxlength">
              A komment minimum 1, maximum 200 karakter hosszú.
            </div>
            <br>
            <button [disabled]="!commentForm.valid" type="button" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Elküld</button>
            <button type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelComment(blog._id)">Törlés</button>
          </form>
        </div>
        <li *ngFor="let comment of blog.Comment" class="list-group-item">
          <strong>{{ comment.commentator }}: </strong>{{ comment.comment }}</li>
        <!-- </li> -->
    </ul>
  </div>
</div>
